<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.common.mapper.PortalNavigatorClickMapper">

    <select id="queryStatistic" parameterType="com.im.common.param.PortalNavigatorStatisticParam"
            resultType="com.im.common.entity.PortalNavigatorStatistic">
        SELECT portal_navigator_id AS portalNavigatorId,
               COUNT(DISTINCT user_id) AS clickCount
        FROM `portal_navigator_click`
        WHERE
            create_time &gt; #{startDate} AND create_time &lt; #{endDate}
        <if test="portalNavigatorId != null">
            AND portal_navigator_id = #{portalNavigatorId}
        </if>
        GROUP BY portal_navigator_id
        ORDER BY portal_navigator_id
    </select>

    <select id="queryDetail" parameterType="com.im.common.param.PortalNavigatorStatisticParam"
            resultType="com.im.common.entity.PortalNavigatorClick">
        SELECT pnc.* FROM
            portal_navigator_click pnc
        WHERE pnc.id IN (
                SELECT MIN(pnc.id) FROM
                portal_navigator_click pnc
                LEFT JOIN tim_friend tf ON pnc.user_id = tf.friend_user_id
                WHERE pnc.portal_navigator_id = #{param.portalNavigatorId}
                    AND pnc.create_time &gt; #{param.startDate} AND pnc.create_time &lt; #{param.endDate}
                 <if test="param.userId!=null"> AND (tf.user_id = #{param.userId} OR pnc.user_id = #{param.userId})</if>
                 GROUP BY pnc.user_id
            )
        ORDER BY pnc.create_time
    </select>
</mapper>
