<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.common.mapper.UserGroupBankCardRechargeConfigMapper">
    <select id="sumCount" resultType="com.im.common.vo.UserGroupAdminVO">
        SELECT group_id id, COUNT(*) bankCardRechargeConfigCount FROM `user_group_bank_card_recharge_config` WHERE group_id IN
        <foreach collection="groupIds" item="groupId" index="index" open="(" close=")" separator=",">
            #{groupId}
        </foreach>
        GROUP BY group_id
    </select>
</mapper>
